<form class="form" action="/withdrawal" method="post">
  <div class="form-group">
    <label for="title">Withdrawal money</label>
    <input type="Number" class="form-control" id="title" placeholder="Withdrawal money" name="amount" min="0">
  </div>
  <button type="submit" class="btn btn-default btn-success">
    Withdrawal
  </button>
</form>